body{
	font-family: 'Mulish', sans-serif;
	font-size:.785rem;
}
a, a:hover{color: #ffa506;;}
.usrpic{
	height:32px;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
  padding-left:1rem;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: #000;
  background: transparent;
  font-weight:600;
  outline:none;
  box-shadow:none;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  font-family: bootstrap-icons;
      font-size: .775rem;
    line-height: .775rem;
	position: absolute;
    left: 0;
    display: block;
    width: 8px;
    height: 10px;
	    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
	    content: "\f285";
}

.btn-toggle[aria-expanded="true"] {
  color: #000;
  font-weight:600;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  color:#212529;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}
.bg-primary{
	background:#ffa506 !important;
}
.bg-gray{background:#ece9e3 !important;}
.btn{font-size:.785rem;}
label{
	margin-bottom:.25rem;
}
.form-select, .form-control{
	font-size:.785rem;
}
label.required:after{
    content: "*";
    color: #dc3545;
    margin-left: 3px;
}
.form-control.calicon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-calendar2-week' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z'/%3E%3Cpath d='M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: right .515rem bottom .529rem;
    padding-right: 30px;
}

/*Multiple Image upload*/
.quote-imgs-thumbs {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 0.75rem;
}
.quote-imgs-thumbs--hidden {
  display: none;
}
.img-preview-thumb {
  background: #fff;
  border: 1px solid #777;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  max-width: 140px;
  padding: 0.25rem;
  margin: 4px 3px;

}

/*End Images upload */
.lgn-card{
	border-radius:1rem;
}
.llogo{
	height:4.5rem;
}
.lttl{
	font-size:.925rem;
	font-weight:600;
}
.lgn-bg{
	background:#f1eee8 url(../images/login-bg.png) no-repeat;
	background-position:bottom;
	background-size:100%;
}
.cmnttl {
	font-size:1rem;
	font-weight:800;
	margin-bottom:1rem;
	padding-bottom:.7rem;
}
.cmnttl:before {
	position:absolute;
	content:'';
	bottom:0;
	left:0;
	width:50px;
	height:2px;
	background:#ffa506;
	
}
.dropdown-menu{
	font-size:.785rem;
}



/* Website */
a{
	text-decoration:none;
}
.text-primary{color:#ffa506 !important;}
.section{padding:70px 0;}
.navbar-brand .ws-logo{
	height:36px;
}
.top-area{
	background:url(../images/home-banner.jpg) no-repeat;
	    background-size: cover;
    background-position: center center;
	border-bottom:1px solid #ece9e3;
}
.srch-box{
	background:rgba(0,0,0,0.6);
	padding:1rem 1.75rem;
}
.mx-wd-150{
	max-width: 150px;
}
.tb-title{
	font-weight:700;
  font-size: 2.25rem;
  color:#fff;
}
.tab-list{
	margin-bottom:.75rem;
}
.tab-list .tab-link{
	font-size:.875rem;
	color:#fff;
	font-weight:500;
	margin-right:.75rem;
}
.tab-list .tab-link.active{
	color:#ffa506;
}

.btn-primary {
    color: #fff;
    background-color: #ffa506;
    border-color: #ffa506;
}
.card-img-overlay {
  background: rgba(0,0,0,0.45);
}
.ct-title{
  position: absolute;
  left:5%;
  width:90%;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.05rem;
  font-weight: 600;
  color: #fff;
}
.cmn-title{
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  padding-bottom: .5rem;
}
.cmn-title:before{
  position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    bottom: 0;
    left: 0;
    background: #ffa506;
}
.fndhm{
  background:#ece9e3 url(../images/shape-1.png) no-repeat;
  background-size: cover;
background-position:top right;
}
.rrsec{
  background:#ece9e3 url(../images/shape-2.png) no-repeat;
  background-size: cover;
background-position:top center;
}
.pg-title{font-size: 1.5rem;
  font-weight: 600;}
.pg-title-big{
  font-size: 1.75rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 2.5rem;
}
.pg-title-big:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 60px;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #ffa506;
}
.text-hdln{
  font-size:1rem;
  line-height: 1.8;
}

.card-inner{position: relative;}
.aprvl-badge{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: .725rem;
  background:#6dc756;
  border:1px solid #6dc756;
  color: #fff;
  padding: .1rem .5rem;
}
.cat-badge{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: .725rem;
  background:#ccb339;
  border:1px solid #ccb339;
  color: #fff;
  padding: .1rem .5rem;
}
.aprvl-badge i{margin-right: .35rem;vertical-align: text-top;}
.prop-snfc{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-weight: 300;
  font-size: .725rem;
  color: #fff;
}
.pvpr-name{
  font-size: 1.05rem;
  font-weight: 700;
  color: #000;
}
.pvpr-loc, .bldr-name{
  color: #7f7f7f;
}
.pvpr-prc{
font-weight: 700;
}
.card-img img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
.rdmr-link{
  
}
.owl-carousel .owl-nav{
  position: absolute;
  top: calc(50% - 20px);
  /* transform: translateY(-50%); */
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
  position: absolute;
}
.owl-carousel .owl-nav .owl-prev{
  left:0;
} 
.owl-carousel .owl-nav .owl-next{
right:0;
}

.owl-carousel .owl-nav .owl-prev i, .owl-carousel .owl-nav .owl-next i{
  font-size: 2rem;
  color:rgba(255,255,255,0.5);
  }
  .owl-carousel .owl-nav .owl-prev:hover i, .owl-carousel .owl-nav .owl-next:hover i{
    color:rgba(255,255,255,0.9);
  }